/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.Oca.2016, 16:35:32
    Author     : mahmut Gülerce
*/
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.spp_bootstrap-wrapper .panel {
    padding:25px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #d3d8db;
    background-color: #fff;
    border-radius: 5px;
}

.spp_bootstrap-wrapper .panel .panel-footer{
    height: 73px;
    border-color: #eee;
    background-color: #fcfdfe;
    margin: 15px -20px -20px;
}

.sppbox {
    background: linear-gradient(0deg, #0078df, #02b8e0);
    box-shadow: 0px 0px 7px -4px #000;
    color: #fff;
    height: 200px;
    display: grid;
    align-items: center;
    transition: 500ms;
}

.sppbox:hover{
    box-shadow:0px 0px 6px 0px #0000004f;
    transform: scale(1.05);
}

.sppbox h2 {
    font-size: 16px;
    color:#fff;
    text-transform: uppercase;
}

.spp_add_method{
    display: inline-block;
}

.bggray {
    background: #eee;
    color:#453B58;
}

.bggreen {
    background: linear-gradient(-45deg, #219653 , #02db5f ) !important;
    color:#fff;
}

.bgblue {
    background: linear-gradient(0deg, #0078df, #02b8e0) !important;
    color:#fff;
}

.bgorange {
    background: #ff6600;
    color:#fff;
}
.bgyellow {
    background: #FCB90F;
    color:#fff;
}
.bgred {
    background: linear-gradient(-45deg, #dd3030, #f52727) !important;
    color:#fff;
}

.bgred_light{
    background: #eab3b7;
    color:#333;
}

.bggreen_light{
    background: #ddf0de;
    color:#72C279;
}
.bg-blue-linear{
    background: linear-gradient(0deg, #0078df, #02b8e0);
}
.bgblue_light{
    background: #92d097;
    color:#72C279;
}

.bg-blue {
    background: #5a75f8;
    color:#fff;
}

.bgpurple {
    background: #AE00EF;
    color:#fff;
}


.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

ul.nav-pills li.active a{
    background-color: #ccc !important;
}

table.installments {
    width:100%;
}

table.installments td {
    border-bottom:1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
}

table.installments input{
    max-width: 65px;
    float: left;
    margin: 1px 7px;
    vertical-align: middle;
}

table.table td {
    background: transparent !important;
    color:#453B58 !important;
}

.bggray hr {
    border-color: #aaa;
}

.spp_bootstrap-wrapper .nav-tabs li a {
    background: #eee;
    font-size: 1.2em;    
    border: 2px solid #ccc;
    border-bottom: none;
    color:#555;

}
.spp_bootstrap-wrapper .nav-tabs li a:hover {
    border: 2px solid #999;
    border-bottom: none;

}
.spp_bootstrap-wrapper .nav.nav-tabs li.active a, .spp_bootstrap-wrapper .nav-tabs#header_notifs_icon_wrapper li.active a, .spp_bootstrap-wrapper .nav-tabs#header_employee_box li.active a, .spp_bootstrap-wrapper .nav-tabs#header_quick li.active a {
    background: #fff;
    color: #00AEEF;
}

.spp_bootstrap-wrapper .nav-tabs>li {
    margin-bottom: -4px !important;
}
.spph150 {
    min-height: 150px;
    height: 150px;
}
.spph100 {
    min-height: 100px;
    height: 100px;
}
.spph200 {
    min-height: 200px;
    height: 200px;
}
.spph250 {
    /* min-height: 250px;
    height: 250px; */
}
.spph300 {
    min-height: 300px;
    height:300px;
}
.spph350 {
    min-height: 350px;
    height:350px;
}
.spph450 {
    min-height:450px;
    height: 450px;
}
.spph550 {
    min-height:550px;
    height: 550px;
}
.spph650 {
    min-height:650px;
    height: 650px;
}
.spph750 {
    min-height:750px;
    height: 750px;
}

div.spphelpbutton {
    bottom: 0;
    position: absolute;
}

.spp_bootstrap-wrapper .nav-stacked>li {
    border: 1px solid #eee;
    border-radius: 4px;
}


.spr_price {
    font-size: 1.5em;
    line-height: 30px;
}

.mpicon {
    font-size:3em; 
    color:#3799b5;
}

form#cards td {
    padding:1px !important;
}

.tox-progress{position:relative}.tox-progress .radial-outer,.tox-progress .radial-inner{border-radius:50%}.tox-progress .radial-inner,.tox-progress .radial-mask-1,.tox-progress .radial-mask-2,.tox-progress .radial-mask-3,.tox-progress .tox-progress-content{position:relative}.tox-progress .radial-mask-1,.tox-progress .radial-mask-2,.tox-progress .radial-mask-3{transform-origin:bottom center}.tox-progress .radial-mask-1,.tox-progress .radial-mask-3{transform:rotate(90deg)}.tox-progress .radial-mask-2{transform:rotate(270deg)}
/*# sourceMappingURL=tox-progress.css.map */

.spp-danger{
    color: #ffffff;
    background-color: linear-gradient(-45deg, #dd3030, #f52727) !important;
}

#sppTab {
    border-right: 1px solid #dee2e6;
}

#sppTab li {
    /* background: #3d53b6; */
    padding: 1rem;
    color: #1f3d78;
    font-weight: 600;
    /* border-radius: 5px; */
    /* margin: unset !important; */
}

#sppTab svg{
    color:#1f3d78;
    margin-right: 15px;
}

.spp-tab-active{
    background: linear-gradient(0deg, #0078df, #02b8e0);
    color:#fff !important;
}
.spp-tab-active svg {
    color:#fff !important;
}

#sppTab li:hover{
    background: linear-gradient(0deg, #0078dfa6, #02b8e085);
    cursor: pointer;
}

.bg-darkBlue{
    background: #1f3d78;
}

#spp_management{
    font-family: system-ui;
    border:1px solid #e0e0e0;
}

.spp-info{
    background: linear-gradient(45deg, #f1a400, #de9700);
    color: white;
}

.spp-info svg {
    color: #ce8e06;
    transform: scale(1.8);
}

.spp-danger{
    background:linear-gradient( -45deg, #dd3030 , #f85858 ) !important;
    color: white;
}

.spp-danger svg {
    color: #a51010;
    transform: scale(1.8);
}

.spp-success{
    background: linear-gradient(-45deg , #1dad00 , #24d600 ) !important;
    color: white;
}

.spp-success svg {
    color: #3fb627;
    transform: scale(1.8);
}

.ins_tab_menu{
    cursor: pointer;
}

.ins_tab_menu a{
    /* margin: 5px; */
}
#spp_management .btn{
    border:none !important;
    transition: 500ms;
}
#spp_management select, #spp_management input{
    border:none !important;
}
#spp_management .btn:hover {
    transform: scale(1.05);

}
#spp_management .btn:focus {
    background: red;
}

/* CARD ICON */

/* #spp_eklenti_aktif::after{
    color: #f1f6ffa1;
    content: '\f579';
    font-family: "Font Awesome 5 Free";
    font-size: 145px;
    position: absolute;
    top: -58px;
    right: 50px;
    transform: rotate(-23deg);
    z-index: -1;
} */

/* CARD ICON */

.spp_check_text{
    visibility: hidden;
    width: 100px;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.spp_check:hover .spp_check_text, .spp_times_check {
    visibility: visible;
    font-family: system-ui;
    font-weight: 400 !important;
  }