form#cc_form{
    font-family: sans-serif;
    color:#fff;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 20%);
    background: linear-gradient(0deg, #6274dc, #2196F3);
    /* border-radius: 3px; */
}
form#cc_form th{
    text-align: center;
    /* background: #3f51b5; */
    color: #fff;
    border:unset;
    padding:10px 0px;
}
form#cc_form #installment-titles{
    background: #ffffff42 !important;
}
form#cc_form tr{
    text-align: center;
    background: #fff;
    color: #000;
    cursor: pointer;
}

form#cc_form img{
    position: absolute;
    top: 7px;
    left: 8px;
    height: 20px;
    filter: invert(31%) sepia(91%) saturate(748%) hue-rotate(199deg) brightness(88%) contrast(89%);
}

form#cc_form button{
    background:#ffffff42;
    border: none;
    padding: .375rem .75rem;
    text-decoration: none;
    text-transform: uppercase;
}

form#cc_form input.cc_cvc{
}

form#cc_form div.expiry{
    width: 50%;
}
.w-30{
    width:30% !important;
}
form#cc_form input{
    margin: 10px 0px;
    text-indent: 6px;
    letter-spacing: 2px;
    font-size: initial;
	text-indent:20px;
	color:black;
    /* border-radius: 3px; */
}

form#cc_form input.error {
    color:red;
}

.has-error input {

}
#cc_validation.text-danger:after {
    content: 'Validation failed';
    color:red;
}
#cc_validation.text-success:after {
    content: 'Validation passed';
    color:green;
}

.woocommerce-order-pay .entry-content > .woocommerce {
    max-width: 100%;
    margin: 0 auto;
}

/* override wordpress */
#installment-table tr td{
    padding: 5px !important;
}
/*
@media screen and (max-width: 999px) {
        form#cc_form input[type="text"]{
                max-width:175px;
        }
}*/